<p><%= link_to 'Adicionar Contato', new_contact_path, class: 'btn btn-success' %></p>
<% if @contacts.count == 0 %>
  <p>Nenhum contato cadastrado.</p>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>E-mail</th>
        <% current_user.custom_fields.each do |custom_field| %>
          <th><%= custom_field.name %></th>
        <% end %>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.email %></td>
          <% current_user.custom_fields.each do |custom_field| %>
            <td><%= simple_format contact.send(custom_field.slug), {}, wrapper_tag: 'span' %></td>
          <% end %>
          <td><%= link_to 'Alterar', edit_contact_path(contact) %></td>
          <td><%= link_to 'Excluir', contact_path(contact), method: :delete, data: { confirm: "Você deseja excluir o contato #{contact.email}?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
